{% extends 'base.html' %}
<body>

{% block content %}
    <div class="container mt-3 full-width">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Compte
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <p><strong>Login :</strong> {{ user['login'] }}</p>
                        </div>
                        <p><strong>Email :</strong> {{ user['email'] }}</p>
                        <p><strong>Groupe :</strong> {{ user['groupe'] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Actions
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ url_for('mail.writing') }}" class="col-md-12 mb-1">
                            <input type="hidden" name="mail" value="{{ user['email'] }}">
                            <button type="submit" class="btn btn-secondary w-100">Envoyer un mail à {{ user['login'] }}</button>
                        </form>
                        {% if locked == True %}
                            <div class="col-md-12 mb-1">
                                <button data-bs-toggle="modal" data-bs-target="#unlock"
                                   class="btn btn-success w-100">Débloquer {{ user['login'] }}
                                </button>
                            </div>
                        {% else %}
                            <div class="col-md-12 mb-1">
                                <button data-bs-toggle="modal" data-bs-target="#lock" class="btn btn-secondary w-100">
                                    Bloquer {{ user['login'] }}
                                </button>
                            </div>
                        {% endif %}
                        <div class="col-md-12 mb-1">
                            <button data-bs-toggle="modal" data-bs-target="#keepModal" class="btn btn-secondary w-100">
                                Garder {{ user['login'] }}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Supprimer {{ user['login'] }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">
                <div class="card w-100">
                    <div class="card-header">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button id="actions-tab" class="nav-link active w-100" data-bs-toggle="tab" data-bs-target="#actions"
                                        type="button" role="tab" aria-controls="actions" aria-selected="true">
                                    Historique des actions sur le compte
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button id="connections-tab" class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#connections"
                                        type="button" role="tab" aria-controls="connections" aria-selected="false">
                                    Historique des connexions du compte
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div id="Content-tab" class="tab-content">
                            <div id="actions" class="tab-pane fade show active" role="tabpanel" aria-labelledby="actions-tab">
                                {% include 'dataTable_history.html' %}
                            </div>
                            <div id="connections" class="tab-pane fade" role="tabpanel" aria-labelledby="connections-tab">
                                {% include 'dataTable_history_connexion.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour supprimer un compte -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Supprimer {{ user['login'] }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('accountAction.delete') }}" method="post">
                        <input type="hidden" name="deleteListLogin" id="deleteListLogin" value="{{ user['login'] }}">
                        <label for="reason" class="form-label">Raison de la suppression</label>
                        <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <input type="submit" class="btn btn-danger" value="Supprimer"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour Bloquer/Débloquer un compte -->
    {% if locked == False %}
        <div class="modal fade" id="lock" tabindex="-1" aria-labelledby="lock" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lockModalTitle">Bloquer l'utilisateur {{ user['login'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('accountAction.lock') }}" method="post">
                            <input type="hidden" name="blockListLogin" value="{{ user['login'] }}">
                            <label for="reason" class="form-label">Raison du blocage</label>
                            <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <input type="submit" class="btn btn-danger" value="Bloquer"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="modal fade" id="unlock" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="unlockModalTitle">Débloquer l'utilisateur {{ user['login'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('accountAction.unlock') }}" method="post">
                            <input type="hidden" name="unblockListLogin" value="{{ user['login'] }}">
                            <label for="reason" class="form-label">Raison du déblocage</label>
                            <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <input type="submit" class="btn btn-danger" value="Débloquer"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--Modal pour Garder le compte-->
    <div class="modal fade" id="keepModal" tabindex="-1" aria-labelledby="keepModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="keepModalLabel">Garder les comptes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('accountAction.keep') }}" method="post">
                        <input type="hidden" name="keepListLogin" id="keepListLogin" value="{{ user['login'] }}">
                        <label for="until" class="form-label">Garder jusqu'à :</label>
                        <input type="datetime-local" class="form-control" name="until" id="until" placeholder="Date">
                        <label for="reason" class="form-label">Raison de la conservation</label>
                        <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <input type="submit" class="btn btn-danger" value="Garder"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
