{% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{% endblock %}

<!-- Affichez les données
DataTable commence ici-->
{% if connections %}
    <table id="connexionsTable" class="table w-100">
        <thead class="thead-dark">
            <tr>
                {% for key in connections[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in connections %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2 class="heading-text text-center">Il n'y a pas de connexions dans l'historique du compte</h2>
{% endif %}
<!-- DataTable termine ici-->

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTable_history_connexion.js') }}"></script>
{% endblock %}