{% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{% endblock %}

<!-- Affichez les données
DataTable commence ici-->
<table id="accountTable" class="table">
    <thead class="thead-dark">
        <tr>
            {% if csvPage == True %}
                {% for key in donnees[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
                <th>Plus de détails</th>
            {% endif %}
            {% for column in columnNames %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
{% if csvPage == True %}
    <tbody>
        {% for row in donnees %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
{% endif %}
    <tfoot>
        <tr>
            {% for column in columnNames %}
                {% if column == '' or column == 'Plus de détails' %}
                    <th class="d-none">{{ column }}</th>
                {% else %}
                    <th>{{ column }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </tfoot>
</table>
    <!-- DataTable termine ici-->

<!-- Modal pour la suppression d'un utilisateur -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer l'utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('accountAction.delete') }}" method="post">
                    <input type="hidden" name="deleteListLogin" id="deleteListLogin">
                    <label for="reason" class="form-label">Raison de la suppression</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-danger" value="Supprimer"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal pour annuler la suppression d'un utilisateur-->
<div class="modal fade" id="cancelDeleteModal" tabindex="-1" aria-labelledby="cancelDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelDeleteModalLabel">Annuler la suppression de l'utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('accountAction.cancel_delete') }}" method="post">
                    <input type="hidden" name="cancelDeleteListLogin" id="cancelDeleteListLogin">
                    <label for="reason" class="form-label">Raison de l'annulation de la suppression</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-danger" value="Annuler suppression"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour garder les comptes -->
<div class="modal fade" id="keepModal" tabindex="-1" aria-labelledby="keepModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keepModalLabel">Garder les comptes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('accountAction.keep') }}" method="post">
                    <input type="hidden" name="keepListLogin" id="keepListLogin">
                    <label for="until" class="form-label">Garder jusqu'à :</label>
                    <input type="datetime-local" class="form-control" name="until" id="until" placeholder="Date">
                    <label for="reason" class="form-label">Raison de la conservation</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-danger" value="Garder"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal pour Bloquer compte(s)-->
<div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="blockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keepModalLabel">Bloquer les comptes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('accountAction.lock') }}" method="post">
                    <input type="hidden" name="blockListLogin" id="blockListLogin">
                    <label for="reason" class="form-label">Raison de la conservation</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-danger" value="Bloquer"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal pour Débloquer compte(s)-->
<div class="modal fade" id="unblockModal" tabindex="-1" aria-labelledby="unblockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keepModalLabel">Débloquer les comptes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('accountAction.unlock') }}" method="post">
                    <input type="hidden" name="unblockListLogin" id="unblockListLogin">
                    <label for="reason" class="form-label">Raison de la conservation</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Raison">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <input type="submit" class="btn btn-danger" value="Débloquer"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Formulaire caché pour récupérer les emails sélectionnés-->
<form method="post" action="{{ url_for('mail.writing') }}" id="sendMailList">
    <input type="hidden" name="mail" id="listMail">
</form>

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ urlJS }}"></script>
{% endblock %}