{% extends 'base.html' %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
<body>

{% block content %}
<div class="container mt-3 full-width">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Fichier CSV
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <p><strong>Nom du fichier :</strong> {{ filename }}</p>
                    </div>
                    <a href="{{ url_for('csvMailActivity.upload') }}" class="btn btn-primary">Télécharger un autre fichier CSV</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <!-- Résultat du CSV
            Card Bootstrap-->
            <div class="card w-100">
                <div class="card-header">
                    Comptes
                </div>
                <div class="card-body">
                    {% include 'dataTable.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tableau.js') }}"></script>
{% endblock %}
