{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 full-width">
        <div class="row full-width">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Envoyer un mail</h5>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('mail.send_mail') }}" method="POST">
                            <div class="mb-3">
                                <label for="mail" class="form-label">Destinataire :</label>
                                {% if mail %}
                                    <input type="text" class="form-control" id="mail" name="mail" required value="{{ mail }}">
                                {% else %}
                                    <input type="text" class="form-control" id="mail" name="mail" required>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="subject" class="form-label">Sujet :</label>
                                <input type="text" class="form-control" id="subject" name="subject" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message :</label>
                                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="reason" class="form-label">Raison de l'envoi du mail :</label>
                                <input type="text" class="form-control" id="reason" name="reason" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Templates de mails</h5>
                    </div>
                    <div class="card-body">
                        {% include 'dataTable_templates_mail.html' %}
                        <div class="text-end">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTemplateModal">
                                Ajouter une template
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour ajouter un template de mail -->
    <div class="modal fade modal-xl" id="addTemplateModal" tabindex="-1" aria-labelledby="addTemplateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTemplateModalLabel">Ajouter une template de mail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('mail.templateAction.create') }}" method="post">
                        <div class="mt-3">
                            <label for="title_template" class="form-label">Nom du template</label>
                            <input type="text" class="form-control" name="title_template" id="title_template" placeholder="Nom du template" required>
                        </div>
                        <div class="mt-3">
                            <label for="subject_create" class="form-label">Sujet</label>
                            <input type="text" class="form-control" name="subject_create" id="subject_create" placeholder="Sujet" required>
                        </div>
                        <div class="mt-3">
                            <label for="message_create" class="form-label">Message :</label>
                            <textarea class="form-control" id="message_create" name="message_create" rows="5" required></textarea>
                            <div class="alert alert-info mt-2" role="alert">
                                <strong>Les variables suivantes peuvent être insérées entre double accolades :</strong>
                                <ul>
                                    <li><code class="variable">name</code> : nom du destinataire</li>
                                    <li><code class="variable">lastSetPwd</code> : date de dernier changement de mot de passe</li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <input type="submit" class="btn btn-success" value="Enregistrer"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}